/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./assets/fonts/Lato/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./assets/fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./assets/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./assets/fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./assets/fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./assets/fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'IcoMoon';
  src: url(./assets/fonts/IcoMoon/IcoMoon-Free.ttf);
}

@font-face {
  font-family: 'linearIcons';
  src: url(./assets/fonts/Linearicons/Linearicons-Free.ttf);
}

@font-face {
  font-family: 'Special_Elite';
  src: url(./assets/fonts/Special_Elite/SpecialElite-Regular.ttf);
}

:root {
  font-family: 'Lato-Regular', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --clr-primary: #bde8f1; */
  --clr-primary: #9dbc98;
  /* --clr-secondary: #819fa7; */
  --clr-secondary: #2e5556;

  --clr-neutral-100: #f2f2f0;
  --clr-neutral-500: #5b6e74;
  --clr-neutral-900: #0d0d0d;

  --clr-dropShadow: rgb(139, 157, 162, 0.5);
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin: 0;
}
body {
  margin: 0;
  background-image: url('./assets/images/desk-2325627_1280.jpg');
  background-size: cover;
}

@media (max-width: 1150px) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1.5rem; */
    margin: 0;
  }

  body {
    margin: 0;
    background-color: var(--clr-neutral-100);
    background-image: none;
  }
}

button {
  background: var(--clr-primary);
  border: none;
  color: var(--clr-neutral-900);
  font-weight: 600;
  box-shadow: 2px 2px 2px var(--clr-dropShadow);

  padding: 0.5rem;
  border-radius: 7px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

button:hover {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-500);
}

fieldset {
  border-radius: 10px;
  border: solid 2.5px var(--clr-dropShadow);
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

fieldset:focus-within {
  border: solid 2.5px var(--clr-secondary);
}

legend {
  font-size: x-large;
}

textarea {
  height: 6rem;
  line-height: 1.2rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  border-radius: 7px;
  border: solid 2px var(--clr-dropShadow);
}

p,
h3 {
  margin: 0.25rem;
}

h3 {
  font-family: 'Lato-Bold', Inter, system-ui, Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: var(--clr-secondary);
  color: var(--clr-neutral-100);
  padding: 0.25em 1.5em;
  border-radius: 2px;
}

.bold {
  font-family: 'Lato-Bold', Inter, system-ui, Helvetica, Arial, sans-serif;
  margin-bottom: 0.25rem;
}

.italic {
  font-family: 'Lato-Italic', Inter, system-ui, Helvetica, Arial, sans-serif;
}

.lineIcon {
  font-family: 'linearIcons', 'Courier New', Courier, monospace;
  padding-right: 1em;
}

.appTitle {
  color: rgb(99, 136, 137);
  color: linear-gradient(
    -5deg,
    rgba(99, 136, 137, 1) 29%,
    rgba(157, 188, 152, 1) 74%
  );

  font-family: 'Lato-Bold', Inter, system-ui, Helvetica, Arial, sans-serif;
}

/* FORM */

.flexGroup {
  display: flex;
  justify-content: space-between;
}

.mainForm {
  display: grid;
  gap: 1rem;
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  box-shadow: 5px 0px 8px var(--clr-dropShadow);
  color: var(--clr-neutral-500);

  height: 100lvh;
  overflow: scroll;
}

@media (max-width: 1150px) {
  .mainForm {
    height: max-content;
    width: fit-content;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.gridForm {
  display: grid;
  gap: 0.7em;
}

.listForm {
  display: flex;
  gap: 1.5rem;
}

.listForm > input {
  width: 90%;
}

.listItem {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  display: grid;
  gap: 1.5em;
  padding: 1.5em;
  margin: 0;
}

/* DISPLAY */

.preview {
  display: grid;
  justify-content: center;
  padding: 2rem;
  font-size: 0.75rem;
  /* background-image: url('./assets/images/desk-2325627_1280.jpg');
  background-size: cover; */
  position: relative;
}

.csvDisplay {
  display: grid;
  width: 50em;
  max-height: 90lvh;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  grid-template-areas:
    'header header'
    'asideList workEx';
  box-shadow: 5px 0px 8px var(--clr-dropShadow);
  position: sticky;
  background-color: var(--clr-neutral-100);
  border-radius: 7px;
}

@media (max-width: 1150px) {
  .csvDisplay {
    max-width: 80ch;
    max-height: min-content;
  }
}

@media (max-width: 650px) {
  .csvDisplay {
    max-width: 60ch;
    max-height: min-content;
  }
}

.displayHeader {
  grid-area: header;
  width: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-secondary);
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 7px 7px 0 0;
}

@media (max-width: 1150px) {
  .displayHeader {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.displayHeader > h1,
h2 {
  margin: 0;
  text-align: center;
}

.personName {
  font-family: 'Lato-Bold', Inter, system-ui, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.personTitle {
  font-family: 'Lato-Italic', Inter, system-ui, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.2em;
}

.displayAside {
  grid-area: asideList;
  display: grid;
  align-content: start;
  padding: 0.5em 0.5em;
}

.workExperience {
  grid-area: workEx;
  display: grid;
  align-content: start;
  padding: 0.5em;
}

.workExperience > ul {
  display: grid;
  gap: 1em;
}
