/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./assets/fonts/Lato/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./assets/fonts/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./assets/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./assets/fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./assets/fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./assets/fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'IcoMoon';
  src: url(./assets/fonts/IcoMoon/IcoMoon-Free.ttf);
}

@font-face {
  font-family: 'linearIcons';
  src: url(./assets/fonts/Linearicons/Linearicons-Free.ttf);
}

@font-face {
  font-family: 'Special_Elite';
  src: url(./assets/fonts/Special_Elite/SpecialElite-Regular.ttf);
}

:root {
  font-family: 'Lato-Regular', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary: #bde8f1;
  --clr-secondary: #819fa7;

  --clr-neutral-100: #f2f2f0;
  --clr-neutral-500: #5b6e74;
  --clr-neutral-900: #0d0d0d;

  --clr-dropShadow: rgb(139, 157, 162, 0.5);
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin: 0;
}
body {
  margin: 0;
}

.gridForm {
  display: grid;
  gap: 0.7em;
}

.mainForm {
  display: grid;
  gap: 1rem;
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  box-shadow: 5px 0px 8px var(--clr-dropShadow);
  color: var(--clr-neutral-500);
}

fieldset {
  border-radius: 10px;
  border: solid var(--clr-secondary);
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

textarea {
  height: 6rem;
  line-height: 1.2rem;
}

input,
select,
button {
  padding: 0.5rem;
}

.listForm {
  display: flex;
  gap: 1.5rem;
}

.listForm > input {
  width: 90%;
}

button {
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  color: var(--clr-neutral-900);
  box-shadow: 2px 2px 2px var(--clr-dropShadow);
}
